.recent-replies {
    .widget-topics {
        padding-bottom: 10px;
        border-bottom: 1px solid @category-default-border-color;
        .timeago {
            font-size: @font-size-small;
        }
        &:last-child {
            border-bottom: unset !important;
        }
        .avatar {
            border-radius: 100%;
        }
    }
}

